/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    // border-top: 1px solid #ccc;
    border-top: 1px solid rgba(255, 255, 255, 0.125);
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




 /* ==========================================================================
   Author's custom styles
   ========================================================================== */





// Body Structure
body,
html {
    height: 100%;
    min-width: 320px;
}
.container-fluid {
    background-color: #242b32 !important;
    height: auto !important;
    margin: 0px auto -100px auto;
    min-height: 100%;
    position: relative;
}

// Scalable Grid
#content {
    margin: 0 auto;
    padding: 0;
}
.wrap {
    max-width: 1140px !important;
    width: 100%;
    margin: 0 auto;
}
.row {
    width: 100%;
    *zoom: 1;
    margin: 0 auto !important;
    overflow: hidden;
    &:before, &:after {
        display: table;
        content: "";
    }
    &:after {
        clear: both;
    }
}
.column {
    float: left;
    margin: 0 3.7037037037037% 10px 0;
    &.alpha {
        margin: 0 3.7037037037037% 10px 0;
    }
    &.omega,
    &.single {
        margin: 0 0 10px 0;
    }
    &.one {
        width: 4.93827160493827%;
    }
    &.two {
        width: 13.58024691358025%;
    }
    &.three {
        width: 22.22222222222222%;
    }
    &.four {
        width: 30.8641975308642%;
    }
    &.five {
        width: 39.50617283950617%;
    }
    &.six {
        width: 48.14814814814815%;
    }
    &.seven {
        width: 56.79012345679012%;
    }
    &.eight {
        width: 65.4320987654321%;
    }
    &.nine {
        width: 74.07407407407407%;
    }
    &.ten {
        width: 82.71604938271605%;
    }
    &.eleven {
        width: 91.35802469135802%;
    }
    &.twelve {
        width: 100%;
    }
}

// Media
@media screen and (max-width: 748px) {
    .column {
        &.single,
        &.alpha,
        &.omega,
        &.one,
        &.two,
        &.three,
        &.four,
        &.five,
        &.six,
        &.seven,
        &.eight,
        &.nine,
        &.ten,
        &.eleven,
        &.twelve {
            width: 100%;
        }
    }
}

// Typography
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 10px 0 20px 0;
    font-family:'Open Sans', sans-serif;
}
h1 {
    font-size: 48px !important;
    line-height: 52px !important;
}
h2 {
    font-size: 36px !important;
    line-height: 40px !important;
}
h3 {
    font-size: 32px !important;
    line-height: 36px !important;
}
h4 {
    font-size: 24px !important;
    line-height: 28px !important;
}
h5 {
    font-size: 16px !important;
    line-height: 20px !important;
}
h6 {
    font-size: 12px !important;
    line-height: 14px !important;
}

.display-1,
.display-2,
.display-3,
.display-4 {
    // font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-family:'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.125;
    letter-spacing: -0.025em;
}
.display-1 {
    // font-size: 96px;
    font-size: calc(48px + (96 - 48) * ((100vw - 320px) / (1920 - 320)));
}
.display-2 {
    // font-size: 84px;
    font-size: calc(36px + (84 - 36) * ((100vw - 320px) / (1920 - 320)));
}
.display-3 {
    // font-size: 72px;
    font-size: calc(32px + (72 - 32) * ((100vw - 320px) / (1920 - 320)));
}
.display-4 {
    // font-size: 60px;
    font-size: calc(24px + (60 - 24) * ((100vw - 320px) / (1920 - 320)));
}

p,
ul,
ol {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    font-weight: 300;
}

.text {
    &.left {
        text-align: left;
    }
    &.center {
        text-align: center;
    }
    &.right {
        text-align: right;
    }

    &.light {
        font-weight: 100;
    }
    &.bold {
        font-weight: 700;
    }
    &.italic {
        font-style: italic;
    }
    &.roboto {
        font-family: 'Roboto', sans-serif;
    }
    &.uppercase {
        text-transform: uppercase;
    }
    &.underline {
        text-decoration: underline;
    }
    &.lead {
        font-size: 22px;
        margin-bottom: 20px;
    }
    &.follow {
        font-size: 14px;
    }
}

// Inputs / Buttons
input,
textarea,
select {
    background-color: #f9f9f9;
    border: 1px solid #e2e2e2;
    width: 100%;
    font-size: 14px;
    padding: 18px !important;
    margin: 0 0 10px 0 !important;
    border-radius: 5px;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}
button {
    color: #fff !important;
    width: 100%;
    background-color: #0099ff;
    border-radius: 5px;
    border: none;
    padding: 18px 0px;
    font-size: 18px !important;
    box-shadow: 0 4px 0px #0063a6;
    &:hover {
        position: relative;
        top: 2px;
        box-shadow: 0 2px 0px #0063a6;
    }
}

// Header
header[role=banner] {
	width: 100%;
	background-color: #242b32;
    overflow: hidden;
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
	padding: 10px 0px 10px 280px;
}

// Sidebar
aside {
	background-color: #2b333b;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 999;
	width: 260px;
}

// Footer
footer[role=contentinfo] {
    // background-color: #242b32;
    position: relative;
    background-color: green;
    height: 100px;
}










/* ==========================================================================
  Helper classes
  ========================================================================== */

/*
* Hide visually and from screen readers
*/

.hidden {
 display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
 border: 0;
 clip: rect(0 0 0 0);
 height: 1px;
 margin: -1px;
 overflow: hidden;
 padding: 0;
 position: absolute;
 width: 1px;
 white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
 clip: auto;
 height: auto;
 margin: 0;
 overflow: visible;
 position: static;
 width: auto;
 white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
 visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
 content: " "; /* 1 */
 display: table; /* 2 */
}

.clearfix:after {
 clear: both;
}


/* ==========================================================================
  EXAMPLE Media Queries for Responsive Design.
  These examples override the primary ('mobile first') styles.
  Modify as content requires.
  ========================================================================== */

  @media only screen and (min-width: 35em) {
   /* Style adjustments for viewports that meet the condition */
}

@media print,
      (-webkit-min-device-pixel-ratio: 1.25),
      (min-resolution: 1.25dppx),
      (min-resolution: 120dpi) {
   /* Style adjustments for high resolution devices */
}


/* ==========================================================================
  Print styles.
  Inlined to avoid the additional HTTP request:
  https://www.phpied.com/delay-loading-your-print-css/
  ========================================================================== */

  @media print {
   *,
   *:before,
   *:after {
       background: transparent !important;
       color: #000 !important; /* Black prints faster */
       -webkit-box-shadow: none !important;
       box-shadow: none !important;
       text-shadow: none !important;
   }

   a,
   a:visited {
       text-decoration: underline;
   }

   a[href]:after {
       content: " (" attr(href) ")";
   }

   abbr[title]:after {
       content: " (" attr(title) ")";
   }

   /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */

   a[href^="#"]:after,
   a[href^="javascript:"]:after {
       content: "";
   }

   pre {
       white-space: pre-wrap !important;
   }
   pre,
   blockquote {
       border: 1px solid #999;
       page-break-inside: avoid;
   }

   /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */

   thead {
       display: table-header-group;
   }

   tr,
   img {
       page-break-inside: avoid;
   }

   p,
   h2,
   h3 {
       orphans: 3;
       widows: 3;
   }

   h2,
   h3 {
       page-break-after: avoid;
   }
}
