.sidebar {
	display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    z-index: 100;
    min-height: 100vh;
    position: relative;
}

nav#primary {
	ul {
		li {
			a {
				color: #fff !important;
			}
		}
	}
}

.poop {
	margin-top: 10px; 
}
