aside {

	.logo {
		margin-bottom: 40px;
		img {
			width: 100%;
		}
	}
	#primary {
		ul {
			padding-left: 20px;
			li {
				list-style: none;
				i,
				a {
					color: #fff !important;
				}
				i {
					opacity: .25;
					width: 60px;
				}
			}
		}
	}
}
