
#search input[type="text"] {
	background:url(../images/glass.png) no-repeat 96% 12px;
}

	/* ==================== Buttons ==================== */
.create-new-btn,
.positive,
.process-sale-btn,
.save-btn,
.upload-return-sheet-btn {
	font-size: 14px;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #006dcc;
	height: 36px;
	padding: 0;
	margin: 0 0 10px;
	border: none;
}
#cancel-order-button,
.negative {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #da4f49;
	font-size: 14px;
	border: none;
}

.create-new-btn:hover,
.positive:hover,
.process-sale-btn:hover,
.save-btn:hover,
.upload-return-sheet-btn:hover {
	background-color: #0044cc;
}

#cancel-order-button:hover,
.negative:hover {
	background-color: #bd362f;
}

.btn-back {
	padding: 10px 10px 2px;
	overflow: hidden;
	background-color: #d4d4d4;
	width: 100%;
	font-size: 14px;
}
/* ==================== Check Box ==================== */
#returns-list input[type=checkbox],
.pay-with-check input[type=checkbox],
.same-address input[type=checkbox],
table.tablesorter input[type=checkbox] {
	visibility: hidden;
}

.pay-with-check,
.returns-check,
.same-address,
.user-check {
	width: 19px;
	height: 19px;
	background: #fcfff4;
	margin: 2px 0;
	position: relative;
}

.pay-with-check label,
.returns-check label,
.same-address label,
.user-check label {
	cursor: pointer;
	position: absolute;
	width: 15px;
	height: 15px;
	left: 2px;
	top: 2px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.5), 0 1px 0 rgba(255,255,255,1);
}

.pay-with-check label:after,
.returns-check label:after,
.same-address label:after,
.user-check label:after {
	opacity: 0;
	content: '';
	position: absolute;
	width: 7px;
	height: 4px;
	background: transparent;
	top: 3px;
	left: 3px;
	border: 2px solid #fcfff4;
	border-top: none;
	border-right: none;
	transform: rotate(-45deg);
}

.pay-with-check label:hover::after,
.returns-check label:hover::after,
.same-address label:hover::after,
.user-check label:hover::after {
	opacity: 0.3;
}

.pay-with-check input[type=checkbox]:checked + label:after,
.returns-check input[type=checkbox]:checked + label:after,
.same-address input[type=checkbox]:checked + label:after,
.user-check input[type=checkbox]:checked + label:after {
	opacity: 1;
}







/* ==================== Content Area Styles ==================== */
.page-title {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	font-size: 36px;
	line-height: 37px;
	padding: 12px 0;
	margin-bottom: 16px;
}

.page-subtitle {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	font-size: 24px;
	line-height: 14px;
	padding: 0 0 20px;
}

/* ==================== Main Nav ==================== */
/* ==================== Primary Nav ==================== */


/* ==================== Tabs ==================== */
.tabnav {

background-color: aqua;
	width: 100%;
	border-radius: 3px;
}

.tabnav li {
	display: inline;
	position: relative;
	top: 17px;
	left: 10px;
}

.tabnav li a {
	color: #565656;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	font-size: 14px;
	background-color: #bebebe;
	padding: 10px;
	border-radius: 2px 2px 0 0;
	display: inline-block;
}

.tabnav li a:active,
.tabnav li a:hover,
.tabnav li.ui-tabs-selected a {
	background-color: #ececec;
}

.ui-tabs-hide {
	display: none;
}

#status-radios input {
	display: none;
}

#status-radios .tabnav li label {
	color: #565656;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	font-size: 14px;
	background-color: #bebebe;
	padding: 10px;
	-webkit-border-radius: 2px 2px 0 0;
	-moz-border-radius: 2px 2px 0 0;
	border-radius: 2px 2px 0 0;
	cursor: pointer;
}

#status-radios .tabnav li label:hover,
#status-radios input[type="radio"]:checked+label {
	background-color: #ececec;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.tabnav li {
		position: relative;
		top: 17px;
	}
}
/* ==================== Order Page ==================== */
/* ==================== Order Page Fields ==================== */
#customer-info-search-country-select,
#customer-info-search-zip-code-textfield {
	// width: 48.42105263157895%;
}

#customer-info-search-country-select {
	float: right;
}
/* ==================== Search Customer Button Area ==================== */
.search-customer {

	padding: 22px 10px 58px;
	border: 1px solid #d4d4d4;
	background-color: #d4d4d4;
	height: 56px;
	width: 100%;

	border-radius: 2px;
}

.limit-select {
	width: 58%;
}

.search-btn {
	float: right;
	width: 38%;
}
/* ==================== Customer Table ==================== */
.search-results tbody tr.even,
.search-results tbody tr:nth-child(even) {
	background: #fff;
}

.search-results {
	font-size: 12px;
	width: 100%;
}

.search-results tr {
	border-bottom: 1px solid #d9d9d9;
}

.search-results thead tr th {
	text-align: left;
	color: #343434;
	padding: 0 0 14px;
}

.search-results a {
	display: block;
	padding: 12px 0;
	text-decoration: none;
	color: #565656;
}

.search-result:hover,
.search-results tbody tr.even:hover,
.search-results tbody tr:nth-child(even):hover {
	background-color: #d4d4d4;
}

.search-result td:first-child {
	padding: 0 0 0 6px;
}
/* ==================== Customer Profile Page ==================== */
/* ==================== Information ==================== */
.information {
	font-size: 14px;
	padding: 14px 20px;
	color: #408ad2;
	background-color: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* ==================== Secondary Nav ==================== */
nav#secondary {
	position: relative;
	top: 133px;
}

nav#secondary .accordion-btn:first-child {
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}

nav#secondary .accordion-btn:nth-child(4) {
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	border: none;
}
/* ==================== Tabs ==================== */
.customer-profile #tabs {
	position: relative;
	top: -4px;
}
/* ==================== Customer / Payment Info Tab ==================== */
#customer-and-payment-info .ticket {
	padding: 10px 20px;

	border-radius: 2px;

}

#customer-and-payment-info #customer-table {
	width: 100%;
	font-size: 12px;
	text-align: left;
}

#customer-and-payment-info #customer-table th {
	padding-bottom: 10px;
}

#customer-and-payment-info #customer-table td:first-child {
	padding-top: 0;
}

#customer-and-payment-info #customer-table td {
	padding-top: 10px;
}

#customer-and-payment-info #customer-table .edit {
	width: 80%;
}

#customer-and-payment-info .down-btn {
	position: relative;
	top: 8px;
	cursor: pointer;
	font-size: 11px;
}

.lead-cc-month-select {
	margin-right: 1.57894736842105%;
}

.lead-cc-month-select,
.lead-cc-year-select {
	width: 48.42105263157895%;
}

.update-btn {
	padding: 0 20px;
	width: 100%;
	margin: 0;
}

#customer-and-payment-info .btn-back {
	margin-top: 48px;
	padding: 22px 10px;
}
/* ==================== Customer Activity Tab ==================== */
#customer-activity-tab {
	font-size: 12px;
}

#customer-activity-tab li:nth-child(even) {
	background: #fff;
}

#customer-activity-tab li {
	border-bottom: 1px solid #d9d9d9;
	padding: 10px;
}
/* ==================== Order Details Tab ==================== */
#order-details .ticket {
	padding: 10px 20px;

	border-radius: 2px;

	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.75);
}

#order-details #history-table {
	width: 100%;
	font-size: 12px;
	text-align: left;
}

#order-details #history-table thead tr th {
	padding: 0 0 6px;
}

#order-details .down-btn {
	position: relative;
	top: 8px;
	cursor: pointer;

}

.cancel-button,
.refund-button {
	width: 80px;
	padding: 4px 0;
	font-size: 12px;
	margin-top: 4px;
}





#order-details dt {
	font-weight: 600;
	padding: 0 0 2px;
}

#order-details dd {
	padding: 0 0 14px;
}

#order-price-select,
#order-quantity-select,
#order-ship-interval-select {
	margin: 6px 0 10px;
}

#selldown-save-button {
	padding: 0 20px;
	margin-top: 6px;
	width: 100%;
}
/* ==================== Return Details Tab ==================== */
#match-order-id-field {
	width: 48.42105263157895%;
}

.match-order-id-button {
	padding: 0 20px;
	margin-left: 10px;
}

#returns {
	margin-top: 10px;
}

#returns .ticket-stub {
	padding: 4px 0 0 20px;
	height: 46px;
}

#returns .ticket-body {
	padding: 10px 20px;
}

.match-order-id-button,
.use-order {
	padding: 0 20px;
	margin-left: 10px;
}

.return-action-select,
.use-order {
	width: 140px;
	margin-top: 4px;
}

#return-table {
	width: 100%;
	text-align: left;
	font-size: 12px;
	background-color: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#return-table thead tr th {
	padding: 10px;
}

#return-table tbody tr td {
	padding: 0 0 10px 10px;
}

#reason-select {
	width: 48.42105263157895%;
}

.return-details {
	padding: 9px 12px;
	height: 140px;
	width: 48.42105263157895%;
}

.return-details-button {
	padding: 10px 20px;
}
/* ==================== Ticket Tab ==================== */
.hide {
	display: none;
}

#ticket {
	font-size: 14px;
}

#ticket .comment-body,
#ticket .comment-stub,
#ticket .ticket-body,
#ticket .ticket-message,
#ticket .ticket-stub {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#ticket .ticket-stub {
	cursor: pointer;
	padding: 14px 20px;
}

#ticket .ticket-body {
	padding: 20px 20px 10px;
	margin-bottom: 20px;
	position: relative;
	top: 4px;
}

#ticket .comment-body,
#ticket .comment-stub,
#ticket .ticket-message {
	background-color: #ececec;
	margin: 0 0 4px;
}

#ticket .ticket-message {
	padding: 20px;
}

#ticket .comment-body,
#ticket .comment-stub {
	padding: 10px 20px;
}

#ticket .comment-stub {
	margin-left: 20px;
}

#ticket .comment-body {
	margin-left: 40px;
}

#ticket .new-comment {
	margin: 10px 0 0;
}

#ticket #comment-message-textarea {
	margin: 10x 0;
	height: 80px;
	padding: 9px 12px;
}

#ticket .save-btn {
	padding: 0 20px;
}

#ticket textarea {
	height: 160px;
	padding: 9px;
}

#ticket .positive {
	padding: 0 20px;
}
/* ==================== Support Page ==================== */
.support.tabnav li {
	top: 26px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.support.tabnav li {
		position: relative;
		top: 27px;
	}
}
/* ==================== Tickets ==================== */
.tickets-list {
	font-size: 14px;
}

.tickets-list a {
	display: block;
	padding: 12px;
	text-decoration: none;
	color: #565656;
}

.tickets-list > li {
	margin: 0 0 10px;
	color: #404040;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.ticket-stub span {
	margin: 0 8px 0 0;
}

.tickets-list .ticket .status {
	font-weight: 600;
}

.ticket[data-status="Open"] {
	background-color: #d4edb0;
}

.ticket[data-status="Open"] .ticket-stub span {
	border-right: 1px solid #bcdc8d;
	padding-right: 10px;
}

.ticket[data-status="Open"] .ticket-stub span:last-child {
	border: none;
}

.ticket[data-status="Open"]:hover {
	background-color: #e5f4cf;
}

.ticket[data-status="Closed"] {
	background-color: #d4d4d4;
}

.ticket[data-status="Closed"] .ticket-stub span {
	border-right: 1px solid #9f9f9f;
	padding-right: 10px;
}

.ticket[data-status="Closed"] .ticket-stub span:last-child {
	border: none;
}

.ticket[data-status="Closed"]:hover {
	background-color: #e5e5e5;
}

.ticket[data-status="Needs Follow Up"] {
	background-color: #ffdfdf;
}

.ticket[data-status="Needs Follow Up"] .ticket-stub span {
	border-right: 1px solid #ff9090;
	padding-right: 10px;
}

.ticket[data-status="Needs Follow Up"] .ticket-stub span:last-child {
	border: none;
}

.ticket[data-status="Needs Follow Up"]:hover {
	background-color: #ffecec;
}

.ticket[data-status="Pending"] {
	background-color: #d0eeff;
}

.ticket[data-status="Pending"] .ticket-stub span {
	border-right: 1px solid #84d2ff;
	padding-right: 10px;
}

.ticket[data-status="Pending"] .ticket-stub span:last-child {
	border: none;
}

.ticket[data-status="Pending"]:hover {
	background-color: #e2f5ff;
}
/* ==================== Sale Page ==================== */
/* ==================== Trial / Reatil Order Tab ==================== */
.line-item-pricing-break-select,
.line-item-trial-pricing-break-select {
	width: 74.21052631578947%;
}

.line-item-quantity-select,
.line-item-trial-quantity-select {
	width: 22.63157894736842%;
	float: right;
}

#line-items li,
#line-items-trial li {
	margin-bottom: 10px;
}

#line-items-subtotal,
#line-items-total,
#line-items-trial-subtotal,
#line-items-trial-total,
.line-item-amount,
.line-item-trial-amount {
	color: #404040;
	font-weight: 600;
	padding-left: 20px;
}

.remove-trial,
.subtotal,
.total {
	text-align: right;
}

.remove-trial {
	background-color: #fff;
	border: 1px solid #ff9090;
	margin: 0;
	padding: 8px 20px 6px 0;
	color: #404040;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.line-item-cancel-button {
	margin: 0 0 2px;
	width: 80px;
	padding: 4px 0;
	font-size: 12px;
}

#retail-customer-details .country,
#retail-customer-details .first-name,
#retail-customer-details .last-name,
#retail-customer-details .phone,
#retail-customer-details .state,
#retail-customer-details .zip,
#trial-customer-details .country,
#trial-customer-details .first-name,
#trial-customer-details .last-name,
#trial-customer-details .phone,
#trial-customer-details .state,
#trial-customer-details .zip {
	width: 48.42105263157895%;
}

#retail-customer-details .country,
#retail-customer-details .last-name,
#retail-customer-details .zip,
#trial-customer-details .country,
#trial-customer-details .last-name,
#trial-customer-details .zip {
	float: right;
}

.same-address label:before {
	content: 'Check here if addressse are the same.';
	position: absolute;
	left: 30px;
	top: 0;
	width: 100%;
	min-width: 400px;
	font-size: 14px;
}

.pay-with-check label:before {
	content: 'Check here to pay with check.';
	position: absolute;
	left: 30px;
	top: 0;
	width: 100%;
	min-width: 400px;
	font-size: 14px;
}

.process-sale-btn {
	padding: 0 20px;
	display: block;
	width: 100%;
}
/* ==================== User Page ==================== */
/* ==================== User Nav ==================== */
.create-new-btn {
	padding: 0 20px;
	height: 36px;
	margin: 0 0 8px;
}
/* ==================== Table ==================== */
table.tablesorter {
	width: 100%;
	text-align: left;
	font-size: 12px;
}

table.tablesorter tfoot tr th,
table.tablesorter thead tr th {
	border-bottom: 1px solid #d9d9d9;
	padding: 0 0 10px 14px;
}

table.tablesorter thead tr .header {
	background: url("../images/bg.gif") -7px 3px no-repeat;
	cursor: pointer;
}

table.tablesorter tbody td {
	vertical-align: middle;
}

table.tablesorter thead tr .headerSortUp {
	background: url("../images/asc.gif") -7px 8px no-repeat;
}

table.tablesorter thead tr .headerSortDown {
	background: url("../images/desc.gif") -8px 3px no-repeat;
}

table.tablesorter tr {
	border-bottom: 1px solid #d9d9d9;
}

table.tablesorter tbody td {
	padding: 0 0 0 14px;
}

table.tablesorter tbody tr.even,
table.tablesorter tbody tr:nth-child(even) {
	background: #fff;
}

table.tablesorter td:first-child {
	padding: 0 0 0 14px;
}

table.tablesorter .user-select {
	width: 130px;
	height: 32px;
	font-size: 12px;
	position: relative;
	top: 5px;
}

table.tablesorter .user-check {
	margin: 0 0 0 2px;
}
/* ==================== Returns Page ==================== */
/* ==================== Returns Nav ==================== */


#select-return-sheets {
	width: 140px;
	margin-right: 6px;
	position: relative;
	top: -10px;
}

.upload-return-sheet-btn {
	padding: 0 20px;
	height: 34px;
	position: relative;
	float: right;
	margin: -45px 10px 0 0;
}

.returns-sub-nav ul li {
	display: inline-block;
	font-size: 14px;
}

.pagination-bottom,
.pagination-top {
	font-size: 14px;
	position: relative;
	float: right;
}

.pagination-top {
	top: -17px;
}
/* ==================== Table ==================== */
#returns-list {
	font-size: 12px;
	width: 100%;
	text-align: left;
	color: #404040;
	margin: 0 0 20px;
}

#returns-list thead {
	margin: 0 0 10px;
}

#returns-list thead tr {
	background-color: #fff;
	height: 44px;
}

#returns-list thead .returns-check {
	position: relative;
	top: 11px;
	left: 10px;
}

#returns-list a {
	display: block;
	padding: 12px 0;
	text-decoration: none;
	color: #565656;
}

#returns-list tr:hover {
	background-color: #ececec;
}

#returns-list tr {
	border-bottom: 1px solid #bebebe;
	padding: 0 0 10px 14px;
	background-color: #d4d4d4;
}

#returns-list td:first-child {
	padding: 8px 0 0 10px;
}
/* ==================== CSR ==================== */
#knowledge-base .submit,
#my-qa-inbox .submit {
	padding: 0 20px;
	margin-left: 10px;
	position: relative;
	top: 2px;
}

#knowledge-base .pagination-top,
#my-qa-inbox .pagination-top {
	float: left;
	top: 0;
}

#my-qa-inbox .comment-body,
#my-qa-inbox .comment-stub,
#my-qa-inbox .ticket-body,
#my-qa-inbox .ticket-message,
#my-qa-inbox .ticket-stub {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#my-qa-inbox .ticket-stub {
	cursor: pointer;
	padding: 14px 20px;
}

#my-qa-inbox .ticket-body {
	padding: 20px 20px 10px;
	margin-bottom: 20px;
	position: relative;
	top: 4px;
}

#my-qa-inbox .comment-body,
#my-qa-inbox .comment-stub,
#my-qa-inbox .ticket-message {
	background-color: #fff;
	margin: 0 0 4px;
}

#my-qa-inbox .ticket-message {
	padding: 20px;
}

#my-qa-inbox .comment-body,
#my-qa-inbox .comment-stub {
	padding: 10px 20px;
}

#my-qa-inbox .comment-stub {
	margin-left: 20px;
}

#my-qa-inbox .comment-body {
	margin-left: 40px;
}

#my-qa-inbox .new-comment {
	margin: 10px 0 0;
}

#my-qa-inbox #comment-message-textarea {
	margin: 10x 0;
	height: 80px;
	padding: 9px 12px;
}

#my-qa-inbox .save-btn {
	padding: 0 20px;
}

#my-qa-inbox textarea {
	height: 160px;
	padding: 9px;
}

#my-qa-inbox .positive {
	padding: 0 20px;
}

#knowledge-base #search-article {
	width: 60%;
	margin-top: 3px;
}

#knowledge-base select.return-action-select {
	margin-top: 3px;
}

#knowledge-base #content-field {
	height: 110px;
	padding-top: 20px;
}

#knowledge-base .action-select {
	width: 100%;
}
